@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Alexandria", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.primary-bg {
    background-color: #006769;
}

.secondary-bg {
    background-color: #40a578;
}

.tertiary-bg {
    background-color: #ede8e8;
}

.white-xl {
    @apply text-xl text-white;
}

.white-lg {
    @apply text-lg text-white;
}

.black-xl {
    @apply text-xl text-black;
}

.black-lg {
    @apply text-lg text-black;
}

.border-primary {
    border: 1px solid #006769 !important;
}

.border-left-primary {
    border-left: 4px solid #006769;
}

.lead-badges-background {
    @apply bg-blue-200;
}

.active-badge-background {
    @apply bg-yellow-200;
}

.complete-badge-background {
    @apply bg-green-200;
}

.cancelled-badge-background {
    @apply bg-red-200;
}

.singular-badge-background {
    @apply bg-purple-200;
}

.recurring-badge-background {
    @apply bg-indigo-200;
}

.tooltip {
    @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
    @apply z-50 visible;
}

.react-datepicker__input-container input {
    width: 625px !important;
}
