@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
    background-color: #006769;
}

.secondary-bg {
    background-color: #40a578;
}

.tertiary-bg {
    background-color: #ede8e8;
}

.white-xl {
    @apply text-xl text-white;
}

.white-lg {
    @apply text-lg text-white;
}

.black-xl {
    @apply text-xl text-black;
}

.black-lg {
    @apply text-lg text-black;
}

.border-primary {
    border: 1px solid #006769 !important;
}

.border-left-primary {
    border-left: 4px solid #006769;
}

.lead-badges-background {
    @apply bg-blue-200
}

.active-badge-background {
    @apply bg-yellow-200
}

.complete-badge-background {
    @apply bg-green-200
}

.cancelled-badge-background {
    @apply bg-red-200
}
